body {
    background-color: #d0e4fe;
}

#tetris_canvas {
    border: 5px solid #4747d1;
}

#tetris_div {
    text-align: center;
    display: block;
    margin: auto;
    border: 5px solid #4747d1;
}
